html{
  min-height: 100%;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("/images/seattle.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

form{
  padding-bottom: 3%;
}

::placeholder{
  color: white;
}


.main{
  color: white;
  margin-top: 15%;
  background: rgba(0,0,0,0.5);
  padding: 8%;
  border-radius: 10px;
}

#title{
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 5%;
}

#display-text{
  text-align: center;
}

#hero-input{
  border: .1rem solid orange;
  color: white;
}

#hero-input:focus{
  border-color: white;
}

#hero-button{
  margin-left: 40%;
  background-color: orange;
}

.animate{
  position: relative;
  animation-name: fadeUp;
  animation-duration: 2s;
}

@keyframes fadeUp {
  from { bottom: -350px; }
  to   { bottom: 0px; }
}
